*,
*::after
*::before {
    box-sizing: border-box;
}



body {
  
    margin: 0;
    padding: 0;
    background-image: url(images/pexels-pixabay-531880.jpg);
    background-repeat: no-repeat;

    
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: black; 
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);


    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;


}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: black;
  }

  .hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
    
}





.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}



.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: transparent;
    color: aliceblue;
    max-width: 10rem;
    min-height: auto;
    

  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
  
  /* end of CSS for Hamburger Menu */




#container {
    background-color: rgba(0, 0, 0, 0.601);
    border: 10px; border-color: aliceblue; 
    border-style: solid;
    height: 350px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

#btn {
    margin: 50px auto;
    border: 8px; border-color: black; 
    border-style: solid;
    height: 50px;
    width: 250px;
    font-size: 22px;
    font-weight: bolder;
    background-color: aliceblue;
}

#output {
    margin: 25px; grid-auto-flow: auto;
    font-size: 24px;
    color: aliceblue;
}

#countdown {
    
    background-color: rgba(0, 0, 0, 0.601);
    border: 5px; border-color: aliceblue; 
    border-style: solid;
    height: 50px;
    width: 250px;
    margin: 50px auto;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    
    
}

#newyear {
    background-color: rgba(0, 0, 0, 0.601);
    border: 5px; border-color: aliceblue; 
    border-style: solid;
    height: 50px;
    width: 250px;
    margin: 50px auto;
    text-align: center;
    color: aliceblue;
    font-size: 22px;
    display: flex;
    justify-content: center;
    
}





h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;

}







footer {
    color: aliceblue;
    padding: 5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    background-color: transparent;

    
    
    /* media query below */
   
   

}

@media screen and (max-width: 480px) {
    #container {
        width: 325px;
        height: 475px;
        text-align: center;
        
    }

    #btn {
        margin: 50px auto;
        border: 8px; border-color: black; 
        border-style: solid;
        height: 50px;
        width: 250px;
        font-size: 22px;
        font-weight: bolder;
        background-color: aliceblue;
    }

    #output {
        margin: 25px; grid-auto-flow: auto;
        font-size: 18px;
        color: aliceblue;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        text-align: center;
        color: aliceblue;
       
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url(images/pexels-pixabay-531880.jpg);
        background-repeat: no-repeat;

    }

    footer {
        color: aliceblue;
        padding: 5px;
        text-align: center;
        margin-top: auto;
        font-size: 10px;
        background-color: transparent;

    }

}

@media screen and (min-width: 481px) {
    .hamburger-menu {display: none}
}





    



   
   






    
    
    
    
   




